*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif; }

.title {
  font-size: 2.5rem;
  position: relative;
  text-align: center;
  color: #f4f4f4;
  text-shadow: 0px 0px 10px black; }
  .title img {
    width: 100%;
    height: 250px;
    object-fit: cover; }
  .title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.center {
  margin: auto;
  width: 90%;
  padding: 10px; }

.flex-col {
  display: flex;
  flex-flow: column; }

.flex-row {
  width: 100%;
  display: flex;
  flex-flow: row; }

header {
  background-color: #f9cb16;
  box-shadow: 0px 0px 5px black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 10px;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 10; }
  header a {
    color: black;
    margin: auto 10px;
    text-decoration: none; }
    header a:hover {
      color: #2b2b2b; }
  header .header-left {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    justify-content: center;
    width: 50%; }
    header .header-left ul li {
      font-weight: bold;
      display: inline-block; }
      header .header-left ul li a {
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 5px;
        margin: auto 10px; }
        header .header-left ul li a:hover {
          text-decoration: underline 2px black; }
  header .header-right {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: end;
    margin: auto 0px;
    width: 50%; }
    header .header-right .btn {
      width: max-content; }
    header .header-right .input {
      width: 400px; }

.input {
  border: none;
  padding: 10px;
  width: 100%; }
  .input:focus {
    outline: none; }

#cocktail-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; }

#new-cocktail-panel {
  background-color: #00000060;
  display: none;
  position: absolute;
  opacity: 0%;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: space-around; }
  #new-cocktail-panel form {
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: #f9cb16;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 25px; }
    #new-cocktail-panel form textarea {
      height: 100%;
      resize: vertical; }
    #new-cocktail-panel form .flex-row {
      justify-content: space-evenly;
      gap: 25px; }

footer {
  background-color: #0c0c0c;
  color: #f4f4f4;
  text-align: center;
  width: 100%;
  padding: 15px;
  margin: 10px 0px 0px; }

.cocktail-card {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
  background-color: #f9cb16;
  overflow: hidden;
  width: 100%; }
  .cocktail-card .cocktail-card-title {
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37); }
  .cocktail-card .cocktail-card-desc {
    margin: 15px;
    font-size: 1.5rem; }
    .cocktail-card .cocktail-card-desc img {
      float: left;
      width: 45%;
      margin: 10px 30px 10px 10px; }
    .cocktail-card .cocktail-card-desc p {
      line-height: 2rem;
      display: inline; }

.btn {
  background-color: #f4f4f4;
  padding: 10px;
  color: black;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border: none;
  font-weight: 600;
  cursor: pointer; }
  .btn:hover {
    background-color: black;
    color: #f4f4f4; }
