* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif; }

.title {
  font-size: 2.5rem;
  position: relative;
  text-align: center;
  color: #f4f4f4;
  text-shadow: 0px 0px 10px black; }
  .title img {
    width: 100%;
    height: 250px;
    object-fit: cover; }
  .title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

header {
  background-color: #f9cb16;
  padding: 10px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: sticky;
  z-index: 10;
  width: 100%;
  top: 0px;
  box-shadow: 0px 0px 5px black; }
  header a {
    color: black;
    text-decoration: none;
    margin: auto 10px; }
    header a:hover {
      color: #2b2b2b; }
  header .header-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50px; }
    header .header-right ul li {
      font-weight: bold;
      display: inline-block; }
      header .header-right ul li a {
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 5px;
        margin: auto 10px; }
        header .header-right ul li a:hover {
          text-decoration: underline 2px black; }
  header .header-left {
    margin: auto 0px;
    width: 20%; }
    header .header-left .search input {
      width: 100%;
      border: none;
      padding: 10px; }
      header .header-left .search input:focus {
        outline: none; }

#cocktail-list {
  margin: 5px auto;
  width: 85%; }
  #cocktail-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center; }
    #cocktail-list ul li {
      width: 100%;
      height: max-content;
      padding: 15px;
      margin: 10px;
      list-style: none; }

footer {
  background-color: #0c0c0c;
  color: #f4f4f4;
  text-align: center;
  width: 100%;
  padding: 15px;
  margin: 10px 0px 0px; }

.cocktail-card {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
  background-color: #f9cb16; }
  .cocktail-card .cocktail-card-title {
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37); }
  .cocktail-card .cocktail-card-desc {
    margin: 15px;
    font-size: 1.5rem; }
    .cocktail-card .cocktail-card-desc img {
      float: left;
      width: 150px;
      margin: 10px 30px 10px 10px; }
    .cocktail-card .cocktail-card-desc p {
      line-height: 2rem; }
